
        <link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">

        <div id="home-container">
            <section id="feed-posts">
                <!---------- in this we will create a posts section ----------->
                <h4>Posts</h4>
                <% if (locals.user) { %>
                    <form action="/posts/create" id="new-post-form" method="POST">
                        <textarea name="content" cols="30" rows="3" placeholder="type here..." required></textarea>
                        <input type="submit" value="Post">
                    </form>
                <% } %>
                    
            
                <div id="posts-list-container">
                    <ul>
                        <% for(post of posts) { %>
                            <%- include('_post.ejs') -%>
    
                        <% } %>
                    </ul>
                </div>
            </section>
            <aside>
                <div id="user-friends">
                    <h2>Users</h2>
                    <% for(You of all_users) { %>
                        <p>
                            <a href="/users/profile/<%= You.id %>">
                                <%= You.name %>
                            </a>
                        </p>
                    <% } %>
                
            <%-include('chat_box') %>

        </div>


<script src="<%=assetPath('js/home_posts.js')%>"></script>
<script src="<%=assetPath('js/home_post_comments.js')%>"></script>
<!-- <script src="<%=assetPath('js/home.js')%>"></script> -->
        
<script src="<%=assetPath('js/toggle_likes.js') %>"></script>


<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%=assetPath('js/chat_engine.js')%>"></script>
        
<% if(locals.user) {%>
    <script>
        new ChatEngine("user-chat-box" , "<%= locals.user.email %>");
    </script>
<% } %>
